.App{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 80vh;
  width: 100%;
}
.calc-wrapper{
  height: 400px;
  width: 600px;
  margin-top: 20px;

}
.row{
  display: flex;
  width: 100%;
}
.icon{
  height: 3.75em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8888;
  width: 100%;
  flex: 0.3;
  outline: 1px solid #888;
}